.my-footer {
  background-color: #303C5F;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
}

.my-footer h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.my-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.my-footer ul li {
  margin-bottom: 10px;
}

.my-footer ul li a {
  color: #000;
}

.my-social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.my-social li {
  margin-right: 20px;
}

.my-social li:last-child {
  margin-right: 0;
}

.my-social li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #1a1a1a;
}

.my-social li a:hover {
  background-color: #ffcc00;
  color: #1a1a1a;
}

.my-contact {
  margin-top: 20px;
}

.my-contact li {
  margin-bottom: 10px;
}

.my-contact li i {
  margin-right: 10px;
}

.my-contact li a {
  color: #000;
}

.my-contact li a:hover {
  color: #ffcc00;
}
