
/* 
    Created on : Feb 21, 2023, 10:59:20 AM
    Author     : QuangQui
*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 43px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background: linear-gradient(to bottom, #303C5F, #303C5F);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-color: #303C5F;
}

#myBtn:hover {
    background-color: #333;
    transition: background-color 0.2s ease-in-out;
}

#myBtn:before {
    content: "\2191";
}


