/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 2, 2023, 3:03:07 PM
    Author     : Hoang Liem
*/
/* Use variables to store commonly used colors and font sizes */
:root {
    --color-gray: #6C7A89;
    --color-light-gray: #95A5A6;
    --color-white: #ffffff;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --font-body: 'lato', sans-serif;
}

/* Set font and default styles for body */
body {
    font-family: var(--font-body);
}

/* Center and set max-width for container */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

/* Style for list items */
.list {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px; /* Decrease padding */
    margin-bottom: 10px; /* Decrease margin */
    border-radius: 3px;
    background-color: var(--color-white);
    box-shadow: 0 0 9px 0 var(--color-shadow);
}


/* Table header styles */
.table-header {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    background-color: var(--color-light-gray);
}

/* Table row styles */
.table-row {
    background-color: var(--color-white);
    box-shadow: 0 0 9px 0 var(--color-shadow);
}

.responsive-table .col-1 img {
    max-width: 70%;
    height: auto;
}
/* Column styles */
.col-1 {
    flex-basis: 7%;
}

.col-2 {
    flex-basis: 6%;
}

.col-3 {
    flex-basis: 20%;
}

.col-4 {
    flex-basis: 7%;
}

.col-5 {
    flex-basis: 7.5%;
}

.col-6 {
    flex-basis: 7.5%;
}

.col-7 {
    flex-basis: 7.5%;
}

.col-8 {
    flex-basis: 8%;
}

.col-9 {
    flex-basis: 8%;
}

.col-10 {
    flex-basis: 5%;
}

.col-11 {
    flex-basis: 7.5%;
}

/* Media query for tablet screens */
@media all and (min-width: 768px) and (max-width: 1023px) {
    /* Adjust max-width and padding for container */
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    /* Adjust column widths */
    .col-1 {
        flex-basis: 20%;
    }

    .col-2 {
        flex-basis: 0%;
        display: none;
    }

    .col-3 {
        flex-basis: 40%;
    }

    .col-4 {
        flex-basis: 0%;
        display: none;
    }

    .col-5 {
        flex-basis: 30%;
        display: none;
    }

    .col-6 {
        flex-basis: 0%;
        display: none;
    }

    .col-7 {
        flex-basis: 0%;
        display: none;
    }

    .col-8 {
        flex-basis: 0%;
        display: none;
    }

    .col-9 {
        flex-basis: 0%;
        display: none;
    }

    .col-10 {
        flex-basis: 0%;
        display: none;
    }

    .col-11 {
        flex-basis: 10%;
    }

    /* Adjust column label styles */
    .col:before {
        display: none;
    }
}

/* Media query for mobile screens */
@media all and (max-width: 767px) {
    /* Adjust max-width and padding for container */
    .container {
        max-width: 100%;
        padding: 0 15px;
    }

    /* Adjust column widths */
    .col-1 {
        flex-basis: 50%;
    }

    .col-2 {
        flex-basis: 0%;
        display: none;
    }

    .col-3 {
        flex-basis: 0%;
        display: none;
    }

    .col-4 {
        flex-basis: 0%;
        display: none;
    }

    .col-5 {
        flex-basis: 50%;
        display: none;
    }

    /* Adjust column label styles */
    .col:before {
        display: none;
    }

    /* Adjust list item padding */
    li {
        padding: 10px 15px;
    }

    /* Adjust font size for search box */
    .search-box input[type="text"] {
        font-size: 12px;
    }
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    width: 70%;
    margin-left: 30px;
}

.search-input input[type="text"] {
    width: 100%;
    font-size: 14px;
    padding: 10px 12px;
    border: 1px solid var(--color-gray);
    border-radius: 3px;
    background-color: var(--color-white);
    box-shadow: 0 0 9px 0 var(--color-shadow);
    outline: none;
}

.search-input input[type="text"]:focus {
    border-color: var(--color-light-gray);
}

.search-buttons {
    display: flex;
    align-items: center;
}

.select-container {
    width: 200px;
    margin-left: 10px;
}

.select-container select {
    width: 80%;
    font-size: 14px;
    padding: 10px 12px;
    border: 1px solid var(--color-gray);
    border-radius: 3px;
    background-color: var(--color-white);
    box-shadow: 0 0 9px 0 var(--color-shadow);
    outline: none;
}

.select-container select:focus {
    border-color: #303C5F;
}

.btn {
    font-size: 12px;
    padding: 10px 12px;
    border-radius: 3px;
    background-color: #303C5F;
    color: var(--color-white);
    border: none;
    margin-right: 10px;
}

.btn:hover {
    background-color: #303C5F;
    cursor: pointer;
}






